<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732608654538-qgn36f20vrmjate50coi64dpch9lamd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732608654538-qgn36f20vrmjate50coi64dpch9lamd4</string>
	<key>API_KEY</key>
	<string>AIzaSyBDD1hUUoeQ-Xx_w1tPlYxm5K2MVoWNQ04</string>
	<key>GCM_SENDER_ID</key>
	<string>732608654538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAuthentication</string>
	<key>PROJECT_ID</key>
	<string>login-authentication-d5946</string>
	<key>STORAGE_BUCKET</key>
	<string>login-authentication-d5946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732608654538:ios:c53d3337c298f590ec1833</string>
</dict>
</plist>